{% extends "dashboard/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
          
<main role="main" class="events-main">
  <div class="row">
    <div class="large-12 columns align-left">
    <h1 id="title">Event metrics challenge</h1>
    
    <div id="goals" class="large-12 columns align-center">
        
        <div class="large-3 columns">
            <div class="goal"><img src="{% static 'img/metrics.png' %}" alt="Complete metrics" title="Complete your missing post-event metrics"/></div>
            <div class="description">Complete metrics</div>
        </div>
       
        <div class="large-3 columns"> 
            <div class="goal"><img src="{% static 'img/impact.png' %}" alt="Show impact" title="Show Reps activities impact"/></div>
            <div class="description">Show impact</div>
        </div>
        
        <div class="large-3 columns">
            <div class="goal"><img src="{% static 'img/resources.png' %}" alt="More resources" title="More impact means more resources to Reps" /></div>
            <div class="description">More resources</div>
        </div>
        
        <div class="large-3 columns">
            <div class="goal"><img src="{% static 'img/dino.png' %}" alt="Contribute to the mission" title="More resources means better support the Mozilla mission" /></div>
            <div class="description">Support the mission</div>
        </div>
    </div>
    
    <div id="awesome-reps" class="large-12 columns">
        
        <h2>Top Reps</h2>
        
        <p>Will you join some of these awesome Reps that have already filled their events metrics?</p>
        
        <div>
        {% for rep in reps %}
          <p class="rep"><a href="{{ rep.profile_url }}" title="The Awesome {{ rep.full_name }}"><img class="avatar" src="{{ rep.avatar_url }}" alt="{{ rep.full_name }}" /></a><span class="events-num" title="{{ rep.num_events}} events with metrics">{{ rep.num_events}}</span></p>  
        {% endfor %}
        </div>
    </div>
    
    <div class="large-12 columns">
        <div style="float: right">Total events: <strong>{{ events|length }}</strong></div>
        
        <h2><strong>{{ need_metrics|length }}</strong> events need post-event metrics.</h2>
        
        <p>Events between Jun. 16, 2014 and {{ end_date|date }}. Data updated daily.</p>
        
        <div class="progress-bar">
          <div style="width: {{ pending }}%;"{% if pending == 100 %} class="complete"{% endif %}>
            <span>{{ pending }} %</span>
          </div>
        </div>
    </div>
    
    <div class="large-12 columns">
        
        <table class="dashboard-table">
          <thead>
            <tr>
              <th class="hide-for-small-down"></th>
              <th></th>
              <th class="dashboard-clickable type-string">Owner</th>
              <th class="dashboard-clickable type-string hide-for-medium-down">Budget</th>
              <th class="dashboard-clickable type-string">Event</th>
              <th class="dashboard-clickable type-string hide-for-medium-down">Date</th>
              <th class="dashboard-clickable type-string hide-for-medium-down">Country</th>
            </tr>
          </thead>
          <tbody id="table-search-list">
            {% for e in need_metrics %}
            <tr>
              <td class="hide-for-small-down" id="{{ e.owner|slugify }}"><a href="{{ e.owner.profile_url }}"><img src="{{ e.owner.avatar_url }}" alt="{{ e.owner }}" class="avatar"/></a></td>
              <td>{% if e.owner.twitter|length > 0 %}<a class="twitter" title="Tweet him/her!" href="http://twitter.com/share?text=@{{ e.owner.twitter }} {{'we are '}}{{ pending }}{{'% to complete all #remo-metrics We need your help!'|urlencode}}&url={{request.build_absolute_uri}}{{ '#'|urlencode }}{{ e.owner|slugify }}">Tweet him/her!</a>{% endif %}</td>
              <td><a href="{{ e.owner.profile_url }}">{{ e.owner }}</a></td>
              <td class="hide-for-medium-down">{% if e.budget_bug_id %}<a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ e.budget_bug_id }}">{{ e.budget_bug_id }}</a>{% else %}No{% endif %}</td>
              <td><a href="{{ e.url }}">{{ e.name }}</a></td>
              <td class="hide-for-medium-down">{{ e.start|date }}</td>
              <td class="hide-for-medium-down">{{ e.country }}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
        
    </div>
    
  </div>
  </div>
</main>

<p style="right: 30px; bottom: 30px; position: fixed;"><a href="#title">↑ Back to the top</a></p>

{% endblock %}